<?xml version="1.0" encoding="utf-8"?>
<log4net>
    <root>
        <level value="ALL" />
        <appender-ref ref="RollingFileAppender" />
    </root>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
        <!--<file value="/Users/geethamali/LogFiles/Identity/RunningData.log" />-->
      <file value="D:\\LogFiles\\VehicleData.log" />
        <datePattern value="yyyy-MM-dd'-FULL.log'" />
        <appendToFile value="true" />
        <preserveLogFileNameExtension value="true" />
        <rollingStyle value="Date" />
        <layout type="log4net.Layout.PatternLayout">
            <param name="ConversionPattern" value="%date [%thread] %-5level %logger - %message%newline" />
        </layout>
    </appender>
</log4net>